@import '../../Utils/style/variables.scss';

.fiche-logement {
  margin: 0 100px 0 100px;

  .fiche-logement__drop-down-container {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 20px;

    .expanded {
      max-height: 600px;
      transition: max-height 0.4s ease-out;
    }

    .drop-down-container {
      flex: 1;
    }
  }
}

@media (max-width: 700px) {
  .fiche-logement {
    margin: 0 15px 0 15px;

    .fiche-logement__drop-down-container {
      flex-direction: column;
      gap: 15px;

      .drop-down-container {
        margin: 0;
        .drop-down__title-arrow {
          padding: 10px 15px 10px 15px;
          .title-arrow__title {
            font-size: 18px;
          }
          .title-arrow__arrow {
            width: 30px;
          }
        }
        .drop-down__container-content {
          .container-content__content {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (min-width: 1500px) {
  .fiche-logement {
    margin-bottom: 5vw;
  }
}

@media (min-width: 1600px) {
  .fiche-logement {
    margin-bottom: 10vw;
  }
}

@media (min-width: 1800px) {
  .fiche-logement {
    margin-bottom: 15vw;
  }
}
