@import '../../Utils//style/variables.scss';

.header {
  display: flex;
  flex-direction: row;
  margin: 40px 100px 50px 100px;

  .header__nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

  
    .header__nav__liste {
      display: flex;
      gap: 60px;
      font-size: 24px;

      li {
        list-style-type: none;

        .header__nav__liste__lien {
          font-size: 26px;
          text-decoration: none;
          color: $black;
          font-weight: 500;

          &.active {
            
            text-decoration: underline;
            text-decoration-thickness: 2px;
          }
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .header {
    margin: 30px 15px 30px 15px;
    align-items: center;
    .header__logo {
      width: 130px;
    }

    .header__nav {
      .header__nav__liste {
        gap: 30px;
        font-size: 4vw;
      }
    }
  }
}
