@import '../../Utils//style/variables.scss';

.header {
  display: flex;
  flex-direction: row;
  margin: 30px 100px 80px 100px;

  .nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .liste {
      display: flex;
      gap: 50px;
      font-size: 24px;

      li {
        list-style-type: none;

        .lien {
          text-decoration: none;
          color: $black;
        }
        & .lien:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
