// Couleurs principales
$primary-color: #ff6060;
$secondary-color: #f6f6f6;

// Couleurs de fond
$background-color: #ffffff;
$header-footer-bg-color: #000000;

// Autres couleurs
$white: #ffffff;
$black: #000000;
