@import '../../Utils/style/variables.scss';

.container-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $primary-color;
  gap: 150px;
  margin: 150px 0 150px 0;
  .container-error__error {
    font-size: 240px;
    font-weight: 700;
  }
  .container-error__message {
    font-size: 32px;
  }
  .container-error__link {
    font-size: 24px;
    color: $black;
    font-weight: 500;
  }
}

@media (max-width: 1000px) {
  .container-error {
    gap: 100px;
    margin: 110px 15px 100px 15px;
    .container-error__error {
      font-size: 100px;
    }
    .container-error__message {
      font-size: 24px;
      text-align: center;
    }
    .container-error__link {
      font-size: 14px;
      text-align: center;
    }
  }
}
